
#log-container {height: 100%; width:100%; font-size: 25px; background-color: blueviolet;}
#dashboard {height: 100%; width:100%; font-size: 25px; background-color: bisque;}
#libtn, #lobtn, #status1, #status2 {display: inline-block; zoom: 1; vertical-align: top; font-size: 25px; border: 3px;}
#libtn {width: 10%; }
button {
    width: 100px;
    height: 50px;
  }


